.ImageViewer-Header {
    color: var(--bioimg-text-primary, rgba(0, 0, 0, 0.87));
    font-family: Inter, Arial, "sans-serif";
    justify-content: space-between;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    margin: 0 0 16px;
    display: flex;
    align-items: center;
    height: 40px;
  
    span {
      display: inline-flex;
    }
  
    svg {
      margin-right: 8px;
    }
  
    &__button {
      border: 0;
      outline: none;
      background-color: transparent;
  
      &:hover {
        cursor: pointer;
      }
    }
  
    &__icon {
      transition: all 0.3s ease-in-out;
      transform: rotate(0deg);
  
      &--rotated {
        transform: rotate(270deg);
      }
    }
  }