:host {
  --color-scheme: light; // for scrollbars

  /** Background **/
  --viewer-background-primary: hsla(200deg, 33%, 98%, 1);
  --viewer-background-secondary: hsla(200deg, 15%, 98%, 1);
  --viewer-surface-primary: hsla(0deg, 0%, 100%, 1);
  --viewer-surface-secondary: hsla(200deg, 33%, 98%, 1);

  /** Box shadow **/
  --viewer-shadow-small: 0 1px 3px rgba(0, 0, 0, 0.16);
  --viewer-shadow-medium: 0 2px 10px rgba(0, 0, 0, 0.16);

  /** Text **/
  --viewer-text-primary: hsla(0deg, 0%, 0%, 0.87);
  --viewer-text-tertiary: hsla(0deg, 0%, 0%, 0.49);
  --viewer-text-disabled: hsla(0deg, 0%, 0%, 0.38);
  --viewer-text-error: hsla(0, 100%, 62%, 1);

  /** border colors **/
  --viewer-border: hsla(212deg, 18%, 84%, 1);

  /** highlight colors **/
  --viewer-accent: hsla(212, 100%, 65%, 1);
  --viewer-accent-80: hsla(212, 100%, 65%, 0.8);
  --viewer-accent-60: hsla(212, 100%, 65%, 0.6);
  --viewer-accent-40: hsla(212, 100%, 65%, 0.4);
  --viewer-accent-20: hsla(212, 100%, 65%, 0.2);
  --viewer-accent-10: hsla(212, 100%, 65%, 0.1);
  --viewer-accent-05: hsla(212, 100%, 65%, 0.05);

  --viewer-border-disabled: hsla(0deg, 0%, 90%, 1);
}